// Navigation Styles here
nav {
    display: flex;
    justify-content:  space-evenly;
    width: 38%;
    margin-right: 13%;
    @media @phone {
        margin: 0 auto;
        .centered();
        margin-top: 5%;
        width: 70%;
        justify-content: space-between;
        padding-bottom: 2%;
      }
    
    

    a {
        display: flex;
        color: black;
        font-weight: bold;
        text-decoration: none;
        
    }
}   
