// Navigation Styles here
nav {
    display: flex;
    justify-content:  space-evenly;
    width: 38%;
    margin-right: 13%;
    
    

    a {
        display: flex;
        color: black;
        font-weight: bold;
        text-decoration: none;
        
    }
}   
